$large: "(min-width: 1024px)";

@media #{$large} {
    body {
        background: black;
    }

    // -- HOME

    #home-background {
        height: 900px;
        width: 100%;
        border-top: 7px solid orange;
    }
        #home {
            display: flex;
            justify-content: center;
            align-items: center;
            //background-size: contain;
            width: 100%;
            height: 50%;
            //background-color: blue;
            //opacity: 0.3;

            #home-logo {
                width: 18vw;
                height: 20%;
            }
        }

     .nav-panel {
            width: 100%;
            height: 20%;
            //background-color: green;
            //opacity: 0.3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20vw;
            padding-right: 20vw;
            .lang {
                align-items: flex-start;
            }
        }



    .nav-list {
        height: 100px;
        width: 300px;
        //background-color: blue;
        color: white;
        a {
            padding: 2px;
            .line {
                margin-left: 10px;
            }
            &:hover {
                .line {
                    width: 50%;
                    background-color: orange;
                }
                color: orange;

            }
        }
    }

    .hamburger-menu {
        display: none;
    }

    // -- ABOUT

        #about {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            height: 900px;
            width: 100%;
            padding: 18vw;

            #about-text {
                height: 50%;
                width: 45%;
                //background-color: red;
                padding: 2vw;
            }
            border-top: 7px solid orange;
        }

    // -- PRODUCTS

        #products-1 {
            display: flex;
            //justify-content: center;;
            //align-items: center;

            padding: 2vw;
            background: white;

            height: 900px;
            width: 100%;

            #products-common-rail {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;
                width: 50%;

                #common-rail {
                    //background-color: red;
                    width: 100%;
                    //height: 50%;
                    padding-left: 18vw;
                    padding-right: 2vw;

                    #common-rail-head {
                    }

                    #common-rail-paragraph {

                    }
                    #common-rail-dedicated {

                    }
                    #common-rail-vw {

                    }
                    #common-rail-renault {

                    }
                }

            }

            #products-injector {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;
                width: 50%;

                border-right: 7px solid orange;


                #injector {
                    //background-color: red;
                    width: 100%;
                    //height: 50%;
                    padding-right: 18vw;
                    padding-left: 2vw;

                    #injector-head {

                    }
                    #injector-paragraph {

                    }
                    #injector-dedicated {

                    }
                }

            }
        }

    // -- CONTACT

    #contact {
        height: 900px;
        width: 100%;

        border-top: 7px solid orange;

        #contact-1 {
            width: 70%;
            height: 88%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            padding: 0 18vw;
            #contact-text{
                padding: 2vw;
            }
        }
        #contact-2 {

        }
        #footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 12%;
            width: 100%;

            padding: 0 20vw;

            #contact-line {
                border-top: 1px solid gray;
                width: 100%;
                display: flex;
                justify-content: space-between;
                //padding: 2vw;

            }

            #contact-logo {
                width: 20%;
                height: 3vw;
                margin: 2vw 0;
            }
            #studio-18 {
                width: 5%;
                height: 2vw;
                margin: 2vw 0;
            }
        }
    }


}
