$small: "(max-width: 479px)";

@media #{$small} {
    body {
        background: orange;
    }

// -- HOME

    #home {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 55vw;
        width: 100%;

        #home-logo {
            width: 20%;
            height: 5vw;
        }

        border-top: 1vw solid black;
    }

// -- ABOUT

    #about {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 55vw;
        width: 100%;

        #about-text {
            width: 120px;
            height: 50px;
            font-size: 5px;
        }

        border-top: 1vw solid black;

    }


}
