$small: "(max-width: 479px)";

@media #{$small} {
    body {
        background: black;
    }

// -- HOME

    #home {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vw;
        width: 100%;

        #home-logo {
            width: 80%;
            height: 50vw;
        }
        border-top: 2vw solid orange;
    }

// -- ABOUT

    #about {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vw;
        width: 100%;

        #about-text {
            height: 80vw;
            width: 80%;
            font-size: 15px;
            background-color: red;
        }
        border-top: 2vw solid orange;
    }

// -- PRODUCTS

    #products-1 {
        display: block;
        //justify-content: center;;
        //align-items: center;
        padding: 2vw;
        background: white;

        height: 200vw;
        width: 100%;

        #products-common-rail {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 15px;
            height: 50%;
            width: 100%;

            #common-rail {
                background-color: red;
                width: 85%;
                height: 80vw;

                #common-rail-head {
                }

                #common-rail-paragraph {


                }
                #common-rail-dedicated {

                }
                #common-rail-vw {

                }
                #common-rail-renault {

                }
            }

        }

        #products-injector {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 15px;
            height: 50%;
            width: 100%;

            #injector {
                background-color: red;
                width: 85%;
                height: 80vw;

                #injector-head {

                }
                #injector-paragraph {

                }
                #injector-dedicated {

                }
            }

        }
    }

// -- CONTACT

#contact {
    height: 100vw;
    width: 100%;

    //border-top: 2vw solid orange;

    #contact-1 {
        width: 100%;
        height: 80vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 10vw;

    }
    #contact-2 {

    }
    #footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 20vw;
        width: 100%;

        padding: 10vw;

        border-top: 1vw solid red;

        #contact-logo {
            width: 40%;
            height: 18vw;
        }
        #studio-18 {
            width: 40%;
            height: 18vw;
        }
    }
}

}
