$xlarge: "(min-width: 1024px)";

@media #{$xlarge} {
    body {
        background: red;
    }
    // color of media
    #home {
        height: 900px;
    }

    #about {
        height: 900px;
    }

    #products-1 {
        height: 900px;
    }

    #products-2 {
        height: 900px;
    }

    #contact {
        height: 900px;
    }
    // sections height
}
