font-family: 'oswald-bold';
src: url('../fonts/oswald-bold.woff2') format('woff2'),
     url('../fonts/oswald-bold.woff') format('woff');

font-family: 'proxima-nova-regular';
src: url('../fonts/proxima-nova-regular.woff2') format('woff2'),
     url('../fonts/proxima-nova-regular.woff') format('woff');

 font-family: 'proxima-nova-alt-light';
 src: url('../fonts/proxima-nova-alt-light.woff2') format('woff2'),
      url('../fonts/proxima-nova-alt-light.woff') format('woff');
