// -- HOME

#home-background {
    background-image: url('../images/tlo-head.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: " ";
}

#home-logo {
    background-image: url('../images/logo-railcom.png');
    background-size: contain;
    background-repeat: no-repeat;
    content: " ";
}


// -- ABOUT

#about {
    background-image: url('../images/tlo-about.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: " ";

}

// -- PRODUCTS

#products-1 {

    #products-common-rail {

        background-image: url('../images/common-rail.png');
        background-size: cover;
        background-repeat: no-repeat;

    }



    #products-injector {
        background-image: url('../images/injector-2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

#products-2 {
    visibility: hidden;
}

// -- CONTACT

#contact {
    background-image: url('../images/tlo-contact.png');
    background-size: cover;
    background-repeat: no-repeat;

    #contact-1 {

    }
    #contact-2 {
        visibility: hidden;
    }
    #footer {
        #contact-logo {
            background-image: url('../images/logo-contact.png');
            background-size: contain;
            background-repeat: no-repeat;
            content: " ";
        }
        #studio-18 {
            background-image: url('../images/logo-studio18.png');
            background-size: contain;
            background-repeat: no-repeat;
            content: " ";
        }
    }

}

/* -- NAV -- */



.line {
    width: 20%;
    height: 2px;
    content: " ";
    background-color: white;
    //display: inline-block;
}

a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: white;
}

/* -- LANG -- */

.lang {
    display: flex;
    justify-content: flex-start;;
    align-items: flex-start;

}
