@font-face {

}
// -- HOME


// -- ABOUT

#about {
    #about-text {
        color: white;

        #about-head {
            //font-size: 2em;
        }
        #about-paragaph {
            //font-size: 2em; // small
        }
    }

}

// -- PRODUCTS
#products-1 {
    #common-rail {
        #common-rail-head {
            //font-size: 2em;
        }
        #common-rail-paragraph {
            //font-size: 2em;
        }
        #common-rail-dedicated {
            //font-size: 2em;
        }
    }
}


// -- CONTACT

#contact {
    #contact-text {
        color: white;
    }
}
